<a href="https://colab.research.google.com/github/ashishsarkarmlops/Assignment-Persistent_1/blob/main/pytorch_first_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [100]:
import numpy as np
import pandas as pd
import tensorflow as tf
from google.colab import files 
import io

In [101]:
#data=files.upload()

In [14]:
ls

'Churn_Modelling (1).csv'   Churn_Modelling.csv   sample_data/

In [102]:
dataset=pd.read_csv('Churn_Modelling (1).csv')

In [103]:
dataset.head(2)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0

In [104]:
X = dataset.iloc[:, 3:-1]
y = dataset.iloc[:, -1]

In [105]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

Encoding categorical data
Label Encoding the "Gender" column

In [106]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X['Gender'] = le.fit_transform(X['Gender'])

One Hot Encoding the "Geography" column

In [107]:
dummies=pd.get_dummies(X['Geography'])
X=X.join(dummies)

In [108]:
X.drop('Geography',axis=1,inplace=True)

In [109]:
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,France,Germany,Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,1,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,1,0,0
9996,516,1,35,10,57369.61,1,1,1,101699.77,1,0,0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,0,0
9998,772,1,42,3,75075.31,2,1,0,92888.52,0,1,0
9999,792,0,28,4,130142.79,1,1,0,38190.78,1,0,0

Splitting the dataset into the Training set and Test set

In [153]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

Feature Scaling

In [132]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [139]:
from keras.models import Sequential
from keras.layers import Dense
ann = Sequential()

Adding the input layer and the first hidden layer

In [140]:
ann.add(Dense(26, input_dim=12, kernel_initializer='normal', activation='relu'))

Adding the second hidden layer¶

In [141]:
ann.add(Dense(20,input_dim=12, kernel_initializer='normal', activation='relu'))
ann.add(Dense(18,input_dim=12, kernel_initializer='normal', activation='relu'))
ann.add(Dense(12,input_dim=12, kernel_initializer='normal', activation='relu'))

In [142]:
ann.add(Dense(12, kernel_initializer='normal', activation='relu'))

Adding the output layer

In [143]:
ann.add(Dense(1, activation='sigmoid'))

Compiling the ANN

In [145]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy']) #cayegorical_crossentropy in multi class classification

In [146]:
print(ann.summary())

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_22 (Dense)            (None, 26)                338

 dense_23 (Dense)            (None, 20)                540

 dense_24 (Dense)            (None, 18)                378

 dense_25 (Dense)            (None, 12)                228

 dense_26 (Dense)            (None, 12)                156

 dense_27 (Dense)            (None, 1)                 13

=================================================================
Total params: 1,653
Trainable params: 1,653
Non-trainable params: 0
_________________________________________________________________
None

Part 3 - Training the ANN

In [147]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100,verbose=1)

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5055 - accuracy: 0.7945
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4237 - accuracy: 0.8010
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3984 - accuracy: 0.8397
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3606 - accuracy: 0.8540
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3499 - accuracy: 0.8570
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3446 - accuracy: 0.8600
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3419 - accuracy: 0.8615
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3408 - accuracy: 0.8606
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3384 - accuracy: 0.8636
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3376 - accuracy: 0.8620
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3359 - accuracy: 0.8665
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3356 - accuracy: 0.8620
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3360 - accuracy: 0.8651
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3361 - accuracy: 0.8622
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3341 - accuracy: 0.8651
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3341 - accuracy: 0.8646
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3341 - accuracy: 0.8654
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3332 - accuracy: 0.8649
Epoch 19/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3329 - accuracy: 0.8660
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3330 - accuracy: 0.8644
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3333 - accuracy: 0.8660
Epoch 22/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3303 - accuracy: 0.8659
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3317 - accuracy: 0.8660
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3310 - accuracy: 0.8684
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3317 - accuracy: 0.8665
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3295 - accuracy: 0.8669
Epoch 27/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3286 - accuracy: 0.8658
Epoch 28/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3285 - accuracy: 0.8673
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3281 - accuracy: 0.8694
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3279 - accuracy: 0.8698
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3285 - accuracy: 0.8681
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3277 - accuracy: 0.8673
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3261 - accuracy: 0.8711
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3255 - accuracy: 0.8704
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3257 - accuracy: 0.8695
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3253 - accuracy: 0.8712
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3256 - accuracy: 0.8709
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3249 - accuracy: 0.8699
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3243 - accuracy: 0.8704
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3222 - accuracy: 0.8719
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3236 - accuracy: 0.8709
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3245 - accuracy: 0.8705
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3224 - accuracy: 0.8726
Epoch 44/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3234 - accuracy: 0.8715
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3230 - accuracy: 0.8715
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3232 - accuracy: 0.8691
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3223 - accuracy: 0.8711
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3227 - accuracy: 0.8725
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3210 - accuracy: 0.8724
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3213 - accuracy: 0.8714
Epoch 51/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3200 - accuracy: 0.8725
Epoch 52/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3210 - accuracy: 0.8712
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3206 - accuracy: 0.8709
Epoch 54/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3193 - accuracy: 0.8733
Epoch 55/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3204 - accuracy: 0.8725
Epoch 56/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3204 - accuracy: 0.8709
Epoch 57/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3193 - accuracy: 0.8730
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3181 - accuracy: 0.8723
Epoch 59/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3190 - accuracy: 0.8711
Epoch 60/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3197 - accuracy: 0.8729
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3168 - accuracy: 0.8720
Epoch 62/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3180 - accuracy: 0.8719
Epoch 63/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3173 - accuracy: 0.8734
Epoch 64/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3163 - accuracy: 0.8724
Epoch 65/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3160 - accuracy: 0.8739
Epoch 66/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3158 - accuracy: 0.8750
Epoch 67/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3163 - accuracy: 0.8717
Epoch 68/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3171 - accuracy: 0.8733
Epoch 69/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3163 - accuracy: 0.8731
Epoch 70/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3145 - accuracy: 0.8721
Epoch 71/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3145 - accuracy: 0.8723
Epoch 72/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3144 - accuracy: 0.8740
Epoch 73/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3158 - accuracy: 0.8725
Epoch 74/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3150 - accuracy: 0.8737
Epoch 75/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3143 - accuracy: 0.8752
Epoch 76/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3157 - accuracy: 0.8735
Epoch 77/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3138 - accuracy: 0.8739
Epoch 78/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3156 - accuracy: 0.8715
Epoch 79/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3134 - accuracy: 0.8765
Epoch 80/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3126 - accuracy: 0.8729
Epoch 81/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3136 - accuracy: 0.8751
Epoch 82/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3131 - accuracy: 0.8731
Epoch 83/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3124 - accuracy: 0.8727
Epoch 84/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3137 - accuracy: 0.8737
Epoch 85/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3124 - accuracy: 0.8779
Epoch 86/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3107 - accuracy: 0.8767
Epoch 87/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3114 - accuracy: 0.8775
Epoch 88/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3114 - accuracy: 0.8764
Epoch 89/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3110 - accuracy: 0.8737
Epoch 90/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3115 - accuracy: 0.8751
Epoch 91/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3098 - accuracy: 0.8756
Epoch 92/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3102 - accuracy: 0.8756
Epoch 93/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3131 - accuracy: 0.8751
Epoch 94/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3086 - accuracy: 0.8784
Epoch 95/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3097 - accuracy: 0.8769
Epoch 96/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3083 - accuracy: 0.8765
Epoch 97/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3090 - accuracy: 0.8730
Epoch 98/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3086 - accuracy: 0.8774
Epoch 99/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3081 - accuracy: 0.8770
Epoch 100/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3086 - accuracy: 0.8763

Training the ANN on the Training set

Part 4 - Making the predictions and evaluating the model

In [148]:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

1/1 [==============================] - 0s 56ms/step
[[False]]

In [149]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)

63/63 [==============================] - 0s 4ms/step

In [154]:
checkpred=ann.predict(X_train)
checkpred=(checkpred>=0.05)
accuracy_score(y_train, checkpred)

250/250 [==============================] - 0s 1ms/step

0.66575

In [151]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1511   84]
 [ 189  216]]

0.8635

In [55]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64